In [1]:
pip install polars

Collecting polars
  Downloading polars-1.2.1-cp38-abi3-win_amd64.whl (30.8 MB)
     ---------------------------------------- 30.8/30.8 MB 2.8 MB/s eta 0:00:00
Installing collected packages: polars
Successfully installed polars-1.2.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import polars as pl
from datetime import datetime

df = pl.DataFrame(
    {
        "integer": [1, 2, 3],
        "date": [
            datetime(2025, 1, 1),
            datetime(2025, 1, 2),
            datetime(2025, 1, 3),
        ],
        "float": [4.0, 5.0, 6.0],
        "string": ["a", "b", "c"],
    }
)

print(df)

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

In [2]:
df.write_csv("C:/Users/Joe_W/Documents/Polars/output.csv")
df_csv = pl.read_csv("C:/Users/Joe_W/Documents/Polars/output.csv")
print(df_csv)

shape: (3, 4)
┌─────────┬────────────────────────────┬───────┬────────┐
│ integer ┆ date                       ┆ float ┆ string │
│ ---     ┆ ---                        ┆ ---   ┆ ---    │
│ i64     ┆ str                        ┆ f64   ┆ str    │
╞═════════╪════════════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01T00:00:00.000000 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02T00:00:00.000000 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03T00:00:00.000000 ┆ 6.0   ┆ c      │
└─────────┴────────────────────────────┴───────┴────────┘

In [3]:
df.select(pl.col("*"))

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

In [4]:
df.select(pl.col("date", "float"))

shape: (3, 2)
┌─────────────────────┬───────┐
│ date                ┆ float │
│ ---                 ┆ ---   │
│ datetime[μs]        ┆ f64   │
╞═════════════════════╪═══════╡
│ 2025-01-01 00:00:00 ┆ 4.0   │
│ 2025-01-02 00:00:00 ┆ 5.0   │
│ 2025-01-03 00:00:00 ┆ 6.0   │
└─────────────────────┴───────┘

In [5]:
df.filter(
    pl.col("date").is_between(datetime(2025, 12, 2), datetime(2025, 12, 3)),
)

shape: (0, 4)
┌─────────┬──────────────┬───────┬────────┐
│ integer ┆ date         ┆ float ┆ string │
│ ---     ┆ ---          ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs] ┆ f64   ┆ str    │
╞═════════╪══════════════╪═══════╪════════╡
└─────────┴──────────────┴───────┴────────┘

In [7]:
df.filter((pl.col("integer") <= 3) & (pl.col("float").is_not_nan()))

shape: (3, 4)
┌─────────┬─────────────────────┬───────┬────────┐
│ integer ┆ date                ┆ float ┆ string │
│ ---     ┆ ---                 ┆ ---   ┆ ---    │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    │
╞═════════╪═════════════════════╪═══════╪════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      │
└─────────┴─────────────────────┴───────┴────────┘

In [8]:
df.with_columns(pl.col("float").sum().alias("Total"), (pl.col("float") + 42).alias("Bonus added"))

shape: (3, 6)
┌─────────┬─────────────────────┬───────┬────────┬───────┬─────────────┐
│ integer ┆ date                ┆ float ┆ string ┆ Total ┆ Bonus added │
│ ---     ┆ ---                 ┆ ---   ┆ ---    ┆ ---   ┆ ---         │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str    ┆ f64   ┆ f64         │
╞═════════╪═════════════════════╪═══════╪════════╪═══════╪═════════════╡
│ 1       ┆ 2025-01-01 00:00:00 ┆ 4.0   ┆ a      ┆ 15.0  ┆ 46.0        │
│ 2       ┆ 2025-01-02 00:00:00 ┆ 5.0   ┆ b      ┆ 15.0  ┆ 47.0        │
│ 3       ┆ 2025-01-03 00:00:00 ┆ 6.0   ┆ c      ┆ 15.0  ┆ 48.0        │
└─────────┴─────────────────────┴───────┴────────┴───────┴─────────────┘